@import "../../assets/css/variables.module.css";

.glass-button-container {
  position: relative;
}

.glass-button {
  background: var( --white-alpha-2);
  color: #fff;
  border: none;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s, box-shadow 0.2s;
  border-radius: 8px;
}

.glass-button:hover {
  background:  var( --white-alpha-3);
  box-shadow: 0 4px 6px var(--gray-alpha-1);
  transform: scale(1.02);
}
