@import "../../assets/css/variables.module.css";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gray-alpha-5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(8px);
}

.modal-content {
  background: var(--white-alpha-2);
  padding: 16px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}

.input-container {
  margin: 10px 0;
}

.input-container input,
.input-container textarea {
  width: 80%;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  resize: none;
  font-family: "Montserrat", sans-serif;
}

.input-container input::placeholder,
.input-container textarea::placeholder {
  color: var(--gray-alpha-5);
}

.input-container input:focus,
.input-container textarea:focus {
  border: 2px solid var(--violet-200);
}

.button {
  background: var(--gray-alpha-2);
  color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  margin: 16px 30px 0 30px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background: var(--gray-alpha-3);
}

.modal-content {
  padding: 20px;
  text-align: center;
  flex-direction: column;
}

label {
  display: block;
  color: var(--white);
}

.priority-status-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.priority-status-buttons {
  display: flex;
  gap: 10px;
}

.priority-status-button {
  border: 3px solid transparent;
  border-radius: 20px; /* Make the buttons rounded */
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.high-todo {
  border: 3px solid var(--pink-200);
  background-color: var(--pink-100);
  color: var(--white);
}

.medium-progress {
  border: 3px solid var(--violet-200);
  background-color: var(--violet-100);
  color: var(--white);
}

.low-done {
  border: 3px solid var(--blue-200);
  background-color: var(--blue-100);
  color: var(--white);
}
