@import "../../assets/css/variables.module.css";
.header-container {
  background: var(--violet-alpha-5);
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 6px var(--gray-alpha-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.filter-container {
  margin: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.filter-container select {
  font-family: "Montserrat", sans-serif;
}

.search-container input {
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  margin-top: 6px;
  width: 320px;
}

.search-container input::placeholder {
  color: var(--gray-alpha-5);
}

.search-container input:focus {
  border: 2px solid var(--violet-200);
}

select,
input {
  margin-right: 8px;
}
