.tasks-container {

  overflow-y: auto; /* Enable vertical scrolling when content overflows the container */
  border: 1px solid var(--gray-alpha-3); /* Border for visualization */

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-button-container {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
